<%- include('partials/head') %>
<%- include('partials/navbar') %>
    <h1>Cats loops in ejs</h1>
    <ul>
        <% for(cat of cats) { %>
            <li><%= cat %></li>
        <% } %>
    </ul>
<%- include('partials/footer') %>