<%- include('partials/head') %>
<%- include('partials/navbar') %>
    <h1>My first dynamic html <%= 'Hello World'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi libero eligendi cupiditate quis doloribus? Repellat quasi debitis qui odit recusandae error numquam dolorem eligendi cupiditate dolores, accusantium doloremque voluptates ipsum!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam suscipit doloremque repudiandae necessitatibus aliquid iure sapiente voluptate sunt sequi neque! Expedita perferendis neque a nostrum libero consectetur facere ea commodi?</p>
<%- include('partials/footer') %>